body{
    background: linear-gradient(to right, #90D994, #93D981, #C3DF4C, #EFD54C, #DB5DB3, #9969BD, #5869B6, #5869B6);
}
.hc{
    text-align: center;
    margin: 40px;
    color:#fff;
    font-weight: 700;
}
.card{
    border:none;
}
.card-title{
    text-align: center;
    background-color: blueviolet;
    color: wheat;
    font-size: 24px;
    font-weight: 700;
}
form .row{
    margin-top: 25px;
}

form label{
    margin-left: 7%;
    width: 18%;
    font-weight: 600;
    margin-top: 10px;
}
form .il{
    width: auto;
    margin-left: 5px;
    margin-right: 15px;
    font-weight: inherit;
}

input, select{
    height: 40px;
    width: 65%;
}
input[type="radio"],input[type="checkbox"]{
    width: auto;
    height: auto;
    margin-top: 13px;
}
.sbtns .btn {
    margin: 0px 10px;
}